@import url("https://fonts.googleapis.com/css?family=Open+Sans");
$main: 'Open Sans', sans-serif;

body {
  font-family: $main;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-family: $main;
}

h1 {
  font-size: 24px;
  //testing the below font weight for "semibold"//
  font-weight: 600;
  line-height: 33px;
  color: #222222;
}

h2 {
  font-size: 20px;
  //testing the below for font weight "bold"//
  font-weight: 700;
  line-height: 27px;
  color: #323232;
}

button {
  margin-left: 30px;
}

.progress-bold {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  color: #8B231E;
}

.progress-reg {
  font-size: 10px;
  line-height: 14px;
  color: #BF887C;
}

.btn {
  width: 200px;
  height: 50px;
  border-radius: 3px;
  border-style: solid;
  font-family: $main;
  font-size: 14px;
  font-weight: 900;
  line-height: 27px;
  text-transform: uppercase;
  &.primary {
    background-color: #8B231E;
    color: white;
    border: none;
  }
  &.secondary {
    background-color: white;
    border-color: #8B231E;
    color: #8B231E;
  }
  &.disabled{
    background-color: #D1D3D5;
    color: #979797;
    border: none;
  }
}
