@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Source+Sans+Pro:400,700");
$main: 'Open Sans', sans-serif;
$button: 'Source Sans Pro', sans-serif;

body {
  font-family: $main;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

iframe {
  border: 2px solid black;
  position: relative;
  height: 2500px;
  width: 920px;
  padding: 20px;
  background-color: #f3eddb;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  color: #222222;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  color: #323232;
}

a {
  margin: 0 auto;
  color: #8B231E;
  font-family: $main;
  font-weight: 200;
  margin: 20px 0;
}

span {
  display: block;
  font-weight: 400;
  strong {
    font-weight: bold;
  }
}

button {
  margin-left: 30px;
}

img {
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

.platform{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  // align-items: center;
  p {
    text-align: center;
    // order: 1;
  }
  div{
    background-color: #ECE3C7;
    border: 2px solid #E5DAB3;
    height: 160px;
    width: 320px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // flex-direction: column;
    input, label {
      display: block;
      // order: 2;
      // margin: auto;
      // position: absolute;
      // align-self: flex-start;
      // display: block;
      // align-self: baseline;
    }
    // img{
    //   // position: relative;
    //   // order: 3;
    //   // align-self: center;
    //   // display: inline-block;
    // }
  }
}

.progress-bold {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  color: #8B231E;
}

.progress-reg {
  font-size: 10px;
  line-height: 14px;
  color: #BF887C;
}

.btn {
  width: 200px;
  height: 50px;
  border-radius: 3px;
  border-style: solid;
  font-family: $button;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  float: right;
  &.primary {
    background-color: #8B231E;
    color: white;
    border: none;
    &.allsteps{
      float: right;
      width: 184px;
      height: 30px;
      font-size: 12px;
      text-transform: none;
      margin-bottom: 20px;
      font-weight: 200;
    }
  }
  &.secondary {
    background-color: transparent;
    border-color: #8B231E;
    color: #8B231E;
  }
  &.disabled{
    background-color: #D1D3D5;
    color: #979797;
    border: none;
  }
}

.my_list {
  p {
    text-indent: 25px;
  }
}

.step_img {
  display: block;
  margin: 0 auto;
}

.field {
  display: block;
  margin: auto;
  background: white;
  height: 30px;
  width: 300px;
  border: 1px grey solid;
  span {
    text-align: left;
    padding-left: 5px;
  }
  button{
    position: relative;
    height: 30px;
    width: 100px;
    bottom: 30px;
    left: 110px;
    font-weight: 400;
  }
}
